.invoicer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 25px;
    box-sizing: border-box;
    width: 300px;
    height: fit-content;

    h2, h3 {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h2 {
        margin-bottom: 15px;
    }

    .Mui {
        &TextField-root {
            width: 100%;
            margin-bottom: 8px;
        }

        &Divider-root {
            margin: 25px 0 10px;
        }
    }

    &__button-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
}
